.form {
  background-color: #1f2a48;
  border-radius: 10px;
  width: 100%;
  padding: 0.8rem;
  margin: 2rem 0;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    font-size: 1.5rem;
    color: #1580f5;
    padding: 0 1rem;
  }
  &__input {
    width: 100%;
    border: none;
    background-color: inherit;
    color: #fff;
    outline: none;
  }
  &__btn {
    color: #fff;
    background-color: #1580f5;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin: 0 0.5rem;
  }
}
